*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* search block */
.search {
    display: flex;
    width: 50%;
    margin: 25px auto;
}
/* dynamic result block */
/* .result-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */
.about {
  width: 650px;
  margin: 25px auto;
}